/* Загальний стиль для контейнера EquipmentCard */
.EquipmentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    max-width: 300px; /* Обмежує максимальну ширину, якщо потрібно */
    margin: 0 30px 55px;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 15px;
    background-color: #f9f9f9; /* Світлий фон для контрасту */
}

/* Стиль для зображення */
.EquipmentCard img {
    height: 275px;
    width: auto;
    object-fit: contain;
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 10px; /* Додає закруглені кути */
}

/* Стиль для назви елемента */
.EquipmentCard p {
    color: rgb(61, 61, 61);
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}
