.second_info_block{
    display: flex;
    flex-direction: row;
    margin-bottom: 130px;
}

.second_info_block_left_area{
    width: 55%;
    color: rgba(115, 115, 141, 1);
}

.second_info_block_right_area{
    width: 45%;
    margin-left: 40px;
    padding-left: 20px;
    border-radius: 15px;
}

.second_info_block_main_text{
    margin-right: 25px;
    margin-bottom: 30px;
    padding-right: 5%;
    font-size: 20px;
    font-weight: 500;
}

.person4{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    height: 80px;
}

.person4 div{
    display: flex;
    flex-direction: column;
    color: rgba(34, 34, 34, 0.8);
}

.person4 div h3{
    color: black;
    margin: 0px;
}

.person4 img{
    height: 45px;
    margin-right: 10px;
}

.person4_info{
    margin-bottom: 25px;
}

.person4_info img{
    height: 16px;
}


@media (max-width: 785px){
    .second_info_block_right_area{
        width: 100%;
        margin-left: 20px;
        padding-left: 10px;
    }

    .person4 img{
        height: 40px;
        margin-right: 10px;
    }

    .person4 div h3{
    font-size: 16px;
    }

    .second_info_block{
        margin-bottom: 85px;
    }

    .second_info_block_main_text{
        font-size: 16px;
    }

    .list_of_notifications{
        font-size: 14px;
    }

    .person4_info{
        margin-bottom: 20px;
        font-size: 13px;
    }

    .person4 div {
        font-size: 12px;
    }

    .person4{
        height: 50px;
    }
}

@media (max-width:550px){
    .second_info_block{
        margin-bottom: 50px;
    }

    .person4 div h3{
        font-size: 12px;
        }

    .person4 div {
        font-size: 10px;
    }

    .person4 img{
        height: 30px;
        margin-right: 10px;
    }

    .person4_info{
        margin-bottom: 15px;
        font-size: 13px;
    }

    .person4{
        height: 40px;
    }

    .person4_info img{
        height: 12px;
    }

    .second_info_block_main_text{
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 500;
    }

    .list_of_notifications_row div{
        width: 125px;
        font-size: 11px;
        margin-bottom: 10px;
    }

    .second_info_block{
        margin-bottom: 20px;
    }
}
